p {
    margin: 0;
}

body {
    background: url(./img/background.jpg) #c7c7c7 no-repeat;
    background-size: cover;
    font-family: 'Ropa Sans', sans-serif;
}

.header {
    position: relative;
    height: 36rem;
    overflow: hidden;
}

.header__bg {
    z-index: -1;
    position: absolute;
    background: linear-gradient(to right, #587fff, cyan);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
}


.navbar-button {
    outline: none !important;
    border: 0px;
}

.nav-pill {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
}


.header h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    font-family: 'Righteous', cursive;
}

.header p {
    font-size: 1.2rem;
}

.catalog {
    margin-bottom: 2rem;
}

.event__links {
    width: 20rem;
    margin: 0 auto;
    background-color: rgb(39, 47, 64);
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
}

.event__links a {
    display: block;
    margin: 0.4rem auto;
    width: 100%;
    padding: 0.2rem;
    background-color: #a1a1a1;
    text-align: center;
    color: #000;
    text-decoration: none;
}


.event__links a:hover {  
    box-shadow: 1px 1px 4px 4px #bbffee;  
} 

.news__links {
    width: 20rem;
    margin: 0 auto;
    background-color: rgb(39, 47, 64);
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
}

.poster {
    box-shadow: 2px 2px 10px 2px #737373;
    border-radius: 1rem;
    
}

/* .gallery {
    position: relative;
}

.photos {
    position: relative;
    z-index: 1;
}

.shape {
    position: absolute;
    margin: -1px;
    top : 10%;
    left: 12%;
    height: 80%;    
    background-color: rgb(32, 40, 59);
} */


.carousel {
    width: 45rem;
    margin: 2rem auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.16),0 5px 10px 0 rgba(0,0,0,.12);
}

.events, .events > .row {
    margin-bottom: 2rem;
}

/* Event type buttons */
.event__type {
    display: flex;
    flex-grow: row;
    justify-content: center;
    margin: 1rem 0 2rem;
}


.event__type button {
    background-color: #000;
    border-radius: 0;
    color: #fff;
    padding: 0.8rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.event__type button:visited {
    background-color: #545454;
}

.event__type button:hover {
    background-color: #545454;
}

.event__type button:active {
    background-color: #545454;
}

.event__type button:focus {
    background-color: #545454;
}


.event__about {
    color: #545454;
    text-decoration: underline;
}

.event__about:hover {
    color: #000;
}

/*
* Event list
*/

.event {
    display: flex;
    flex: 1;
    flex-flow: column;
    width: auto;
    flex-wrap: wrap;
    margin: 0 2rem;
    padding: 1rem;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.16),0 5px 10px 0 rgba(0,0,0,.12);
    line-height: 2rem;
    background: linear-gradient(to bottom right,#abbaab,#ffffff);
}

.event__image {
    flex: 1;
    margin-bottom: 1rem;
}

.event__heading {
    font-family: 'Josefin Sans', sans-serif;
}

.event__details {
    display: flex;
    flex-flow: column; 
    align-items: center;
    flex: 2;
    margin-bottom: 1rem;
}

.register {
    display: flex;
    flex-flow: column;
    line-height: 1.4rem;
}

.register a {
    margin-top: 0.6rem;
    padding: 0.4rem 0 !important;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

@media screen and (max-width: 45rem) {
    .header {
        height: 29rem;
    }
    .event {
        margin: 0 auto 2rem auto;
        min-width: 80%;
    }
    .carousel {
        width: 100%;
    }
}

.conveners {
    margin: 2rem 0;
    text-align: center;
}

.conveners__head {
    margin-bottom: 2rem;
}

.page-footer {
    margin-top: 8rem;
    background-color: rgb(39, 47, 64);
    color: #fff;
    font-style: italic;
    padding: 1rem;
}